Hello <%= @receiver.email_id %>
<%= @sender.email_id %> has sent you a file through ShareFiles.

Please click on the link below to download the file: 
<%= @url %>
Note: This link will be automatically expriy after 7 days.</p>

Warm regards,
ShareFiles Software Tech